name: CI Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build Main Branch
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build Hello Spring K8S
        working-directory: ./hello-spring-k8s
        run: ./mvnw clean package

      - name: Build Hello Caller
        working-directory: ./hello-caller
        run: ./mvnw clean package

      # Đăng nhập Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build và Push Docker image cho hello-spring-k8s
      - name: Build and Push Hello Spring K8S Docker image
        working-directory: ./hello-spring-k8s
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/hello-spring-k8s:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/hello-spring-k8s:latest

      # Build và Push Docker image cho hello-caller
      - name: Build and Push Hello Caller Docker image
        working-directory: ./hello-caller
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/hello-caller:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/hello-caller:latest